<div id="contenedor">
    {{#each products}}
    <div class="card">
        <div class="title">
            <h2 class="name">{{this.title}}</h2>
            <small class="info">{{this.description}}</small>
            <p class="category">{{this.category}}</p>
            <small class="stock">Stock: {{this.stock}}</small>
        </div>
        <div class="img">
            <img class="item" src="{{this.thumbnails}}" alt="">
        </div>
        <div class="price">
            <p>${{this.price}}</p>  
        </div>
        <div class="addCard">
            <i class="fa-solid fa-basket-shopping"></i>
        </div>
    </div>   
    {{/each}}
</div>

{{> chat}}
<script src="/js/index.js"></script>