<h1>Producto</h1>
<div class="card">
        <div class="title">
            <h2 class="name">{{products.title}}</h2>
            <small class="info">{{products.description}}</small>
            <p class="category">{{products.category}}</p>
            <small class="stock">Stock: {{products.stock}}</small>
        </div>
        <div class="img">
            <img class="item" src="{{products.thumbnails}}" alt="{{products.title}}">
        </div>
        <div class="price">
            <p>${{products.price}}</p>  
        </div>
        <div class="addCard">
            <i class="fa-solid fa-basket-shopping"></i>
        </div>
    </div>   